.AboutUs_section{
    background-image: url(../../Images/Wave-10s-1366px.svg);
    background-repeat: no-repeat;
    background-size: cover  ;
    text-shadow:  2px 2px 10px rgba(0, 0, 0, 0.2);
  
  }
  .About-us-title{
    position: relative;
  }
  .About-us-title::before{
    position: relative;
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    top: 50%;
    right: 0px;
    margin-right: 11.5rem;
    background: #ffffff;
  }
  .About-us-title::after{
    position: relative;
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    top: 50%;
    left: 0px;
    margin-left: 11.5rem;
    background: #ffffff;
  }
  .Introduction-title{
    position: relative;
  }
  .Introduction-title::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    top: 50%;
    margin-right: 13.5rem;
    right: 0;
  }
  .Introduction-title::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    top: 50%;
    margin-left: 13.5rem;
    left: 0;
  }
  @media screen and (max-width:1024px) {
    .Introduction-title::before{
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #000;
      top: 50%;
      margin-right: 13.5rem;
      right: 0;
    }
    .Introduction-title::after{
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #000;
      top: 50%;
      margin-left: 13.5rem;
      left: 0;
    }
    
  }
.Process-Steps div div{
 display: flex;
 padding: 10px;
}
/*  */
.How-we-work{
  position: relative;
}
.How-we-work::before{
  content: "";
  position: absolute;
  background: #000;
  top:20%;
  left: 0;
  margin-left: 15rem;
  height: 3px;
  width: 40px;
}
.How-we-work::after{
  content: "";
  position: absolute;
  background: #000;
  top: 20%;
  right: 0;
  margin-right:15rem ;
  height: 3px;
  width: 40px;
}

@media screen and (max-width:1024px) {
  .How-we-work::before{
    content: "";
    position: absolute;
    background: #000;
    top:20%;
    left: 0;
    margin-left: 15rem;
    height: 3px;
    width: 0px;
  }
  .How-we-work::after{
    content: "";
    position: absolute;
    background: #000;
    top: 20%;
    right: 0;
    margin-right:15rem ;
    height: 3px;
    width: 0px;
  }
}

.Paragraph-justification{
  text-align: justify;
  text-justify: inter-word;
}




.Steps-description div{
  /* background: #000; */
  flex-direction: column;
  width: 100%;
}
.Steps-description p{
width: 75%;

}
@media screen and (max-width:1024px) {
  .Steps-description p{
    width: 100%;
    
    }
}