@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 10%;
    margin: auto;
    
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 400px;
    bottom: -1px;
    transform:rotate(180deg);
    background-image: linear-gradient(to top, #EB7076 20%, #EB7076 80%);
    
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
    /* z-index:-999; */
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')
  
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
    /* background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png') */
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

footer{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer .section-1{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    color: rgb(255, 255, 255);
  }
  @media screen and (max-width:1024px) {
    footer .section-1{
      text-shadow: none;
      font-family: sans-serif;
      /* color: black; */
      height: 170px;
    }
    .waveWrapperInner{
        height: 800px;
    }
  }